{% extends 'base.html.twig' %}

{% block title %}Hello ConfigProfController!{% endblock %}

{% block body %}
    <h1>Configuration des professeurs</h1>

    {{ form(formProfs) }}


    {% if formSubjects is not null %}
        {{ form(formSubjects) }}
    {% endif %}


{% endblock %}
