{% extends 'base.html.twig' %}

{% block title %}Config profs{% endblock %}

{% block body %}
    <div class="container">
    <h1>Rattacher un prof à une classe</h1>

    {{ form(formProfs) }}
    </div>

{% endblock %}
